body{
       background-image: url(imagenes/326-3266907_azul-claro.jpg);  
    background-position: center;
      background-repeat: no-repeat;
     background-size: cover;
     background-attachment: none;
}

